@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* --main-color: #0edac9;
    --main-color-op: #0edac985;
    --second-color: #00bdad; */

    --main-color: #784cd7;
    --main-color-op: #784cd785;
    --second-color: #fa3ce1;

    --light-text: #6e7097;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgba(230, 230, 230, 0.1);
}

.container{
    width: min(1260px, 93%);
    margin: 0 auto;
}





/* SCROLLBAR START */

::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #784cd7; 
}

::-webkit-scrollbar-thumb:hover {
    background: #6336b5;
}

::-webkit-scrollbar-button {
    display: none;
}

/* SCROLLBAR END */











/* HEADER START */


.header{
    padding: 20px 0;
    background-color: #fff;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 28px;
}

.button {
    position: relative;
    display: inline-block;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 35px;
    color: #fff;
    background-color: var(--second-color);
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.4s;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 50px;
    transition: width 0.4s;
    z-index: 1;
}

.button:hover::before {
    width: 0;
}

.button span {
    position: relative;
    z-index: 2;
}


@media screen and (max-width: 768px) {
    .button__container.header__button{
        display: none;
    }
}



/* HEADER END */







/* INTRO START */


.intro__section{
    background: url('./../images/intro/intro-bg.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 90px 0;
    color: #fff;
}

.intro__section .container{
    display: flex;
}

.intro__section .info{
    width: 600px;
}

.intro__section .title{
    margin-bottom: 40px;
    font-size: 55px;
    font-weight: 900;
    line-height: 1.2;

    & span{
        color: var(--main-color);
    }
}

.intro__section .text{
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 1.3;
}

.intro__section .button{
    margin-bottom: 20px;
    display: inline;
}

.intro__section .label{
    font-size: 14px;
    line-height: 24px;
}


@media screen and (max-width: 1200px) {
    .intro__section .container{
        flex-direction: column;
        gap: 30px;
    }
    .intro__section .info{
        width: 100%;
    }
    .intro__section .title{
        font-size: 32px;
    }
    .intro__section .image{
        display: flex;
        justify-content: center;
    }
    .intro__section .image img{
        width: min(400px, 80%);
    }
}


/* INTRO END */








/* SERVICE START */


.service__section{
    padding: 50px 0 100px 0;
}

.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 100px;
}

.service{
    box-shadow: -20px 10px 50px rgba(47, 62, 113, .15);
    position: relative;
    z-index: 1;
    border-radius: 20px;
}

.service__inner{
    border-radius: 20px;
    background-color: #fff;
    padding: 45px 40px;
    width: 100%;
    height: 100%;
}
.service:hover .service__inner{
    z-index: 2;
}

.service::after{
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: -1;
    border-radius: 20px;
    transform: rotate(0);
    background-color: var(--main-color);
    transform-origin: top left;
    transition: .3s;
}
.service:hover::after{
    opacity: 1;
    transform: rotate(5deg);
}

.service .title{
    margin: 30px 0 20px 0;
}

.service .icon{
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 100%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.service:hover .icon{
    /* background-color: var(--main-color); */
    background: linear-gradient(to top right, var(--main-color), #c445ff);
    transition: 0.3s;
}

.service svg{
    transition: 0.3s;
}
.service:hover svg{
    color: #fff;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    .services{
        overflow-x: scroll;
        margin-bottom: 40px;
        border-radius: 20px;
        background-color: #fff;
    }
    .service{
        width: 300px;
    }
    .service:hover .icon{
        background-color: #f5f5f5;
        /* transform: none; */
        svg{
            color: #000;
        }
    }
    .service::after{
        display: none;
    }
}




.ladno{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.ladno__title_1{
    margin: 24px 0 30px 0;
    font-size: 20px;
    font-weight: 400;
    color: var(--light-text);
    text-align: center;
}

.ladno__cover{
    /* background-color: #fff; */
    border-radius: 10px;
    box-shadow: -40px 40px 100px rgba(42, 76, 129, .35);
}

.ladno__cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ladno__right{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ladno__title_2{
    font-size: 45px;
    margin: 32px 0 0 0;
}

.ladno__desc{
    margin-bottom: 16px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .ladno{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .ladno__left{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .ladno__cover{
        order: 1;
    }
    .ladno__title_1, .ladno__title_2{
        text-align: left;
    }
    .ladno__title_1{
        font-size: 16px;
        order: 2;
        margin: 0;
    }
    .ladno__title_2{
        font-size: 22px;
        margin: 24px 0 0 0;
    }
    .ladno__desc{
        font-size: 14px;
    }
}


/* SERVICE END */





/* MARKETING START */



.marketing__article{
    background: url('./../images/marketing/bg-purple.jpg') center no-repeat;
    background-size: cover;
    height: 427px;
    padding: 110px 0 80px 0;
    color: #fff;
    position: relative;
}

.marketing__article::before{
    content: "";
    position: absolute;
    width: 17.5rem;
    height: 21rem;
    top: calc(44% + 20px);
    left: calc(40% + 35px);
    background-image: url('./../images/marketing/human.png');
    background-size: 17.5rem 21rem;
    background-repeat: no-repeat;
}

.marketing__article .container{
    display: grid;
    grid-template-columns: 2.2fr 1.5fr;
    gap: 115px;
}

.marketing__title{
    text-transform: uppercase;
    font-size: 48px;
}

.marketing__text{
    font-size: 20px;
    margin: 16px 0;
}

.marketing__list{
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.marketing__list__item{
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 30px;
    align-items: center;
    font-weight: 700;
}

.marketing__list__item p{
    font-size: 20px;
    text-align: left;
}

@media screen and (max-width: 1200px) {
    .marketing__article{
        height: 800px;
        padding: 35px 0 0 0;
    }
    .marketing__article::before{
        background-size: 227px;
        top: calc(50% + 155px);
        left: calc(50% + 35px);
    }
    .marketing__article .container{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .marketing__text{
        font-size: 16px;
        font-weight: 600;
    }
    .marketing__title{
        font-size: 28px;
        width: 280px;
    }
    .marketing__list__item{
        border: 1px solid #fff;
        border-radius: 40px;
        padding: 16px;
    }
    .marketing__list__item img{
        width: 32px;
        height: 32px;
    }
    .marketing__list__item p{
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .marketing__article::before{
        top: calc(60% + 110px);
        left: calc(15% + 10px);
        background-size: 215px;
    }
}

@media screen and (max-width: 341px) {
    .marketing__article::before{
        width: 240px;
        top: calc(60% + 110px);
        left: calc(12% + 10px);
        background-size: 215px;
    }
}









.marketing__cards{
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marketing__info{
    width: 880px;
}

.marketing__cards__text{
    text-transform: lowercase;
    color: var(--light-text);
    font-size: 20px;
}

.marketing__cards__title{
    text-transform: uppercase;
    margin: 20px 0 50px 0;
    font-weight: 900;
    font-size: 55px;
}

.marketing__cards__desc{
    font-size: 20px;
}

.marketing__cards__title, .marketing__cards__desc, .marketing__cards__text{
    text-align: center;
}


@media screen and (max-width: 1200px) {
    .marketing__info{
        width: 100%;
    }
    .marketing__cards__title, .marketing__cards__desc, .marketing__cards__text{
        text-align: left;
    }
    .marketing__cards__desc{
        font-size: 16px;
    }
    .marketing__cards__title{
        font-size: 36px;
        margin: 10px 0 15px 0;
    }
    .marketing__cards__text{
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .marketing__cards__title{
        font-size: 22px;
    }
}


.marketing__cards__list{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.marketing__cards__item{
    transition: 0.3s;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
    height: 400px;

    display: flex;
    flex-direction: column;
}
.marketing__cards__item:hover{
    box-shadow: -20px 10px 50px rgba(52, 64, 100, 0.322);
    transition: 0.3s;
}

.marketing__cards__item .icon{
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 100%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.marketing__cards__item .icon img{
    width: 41px;
    height: 41px;
}

.marketing__card__title{
    font-size: 20px;
}

.marketing__card__desc{
    color: var(--light-text);
    /* margin-bottom: 100px; */
}

.marketing__cards__item .button__container{
    flex-grow: 1;
    display: flex;
    align-items: end;
}

@media screen and (max-width: 1200px) {
    .cards__container{
        overflow: auto;
    }
    .marketing__cards__list {
        /* margin: 0 0 0 1000px; */
        overflow-x: auto; 
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 20px;
        padding-bottom: 10px;
    }
    .marketing__cards__item{
        width: 300px;
        height: 450px;
        box-shadow: -20px 10px 20px rgba(155, 155, 155, 0.055);
    }
    .marketing__cards__item:hover{
        box-shadow: none;
    }
}






/* MARKETING END */

















